* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('background.png');
}

p {
    justify-content: center;
    top: 400px;
    left: 400px;
    color : red;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
}

.grid-container {
    display: flex;
    background-color: blue;
    flex-wrap: wrap;
    width: 595px;
    height: 525px;
    margin: auto;
    margin-top: 250px;
}

.cell {
    height: 35px;
    width: 35px;
    user-select: none;
}

.cell:nth-child(even) {
    background-color: #aad751;
}

.cell:nth-child(odd) {
    background-color: #a2d149;
}

