* {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: flex;
    background-color: blue;
    flex-wrap: wrap;
    width: 595px;
    height: 525px;
    margin: auto;
    margin-top: 150px;
}

.cell {
    height: 35px;
    width: 35px;
    user-select: none;
}

.cell:nth-child(even) {
    background-color: green;
}

.cell:nth-child(odd) {
    background-color: darkgreen;
}

